@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-T1: 'Roboto', sans-serif;