.box{
    width: 150px;
    height: 150px;
    border: 2px solid green;
}

#box-1{
    background-color: aqua;
}

#box-2{
    visibility: hidden;
    /* visibility hidden hides the element but reserves the space */
    /* display: none; */
    /* whereas display none doesnt reserves the space */
    background-color: sienna;
}

#box-3{
    background-color: plum;
    position: relative;
    top: 80px;
    left: 20px;
    z-index: 27;
}

#box-4{
    background-color: blueviolet;
    position: relative;
    z-index: 43;
}

/* the element which will have more z-index value, that will overlay on others */
/* z-index doesnt workes with static position, we have to use relative, absolute, fixed, or sticky */