* {
	margin: 0;
	padding: 0;
}

.container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(150, 220, 220);
}

.box {
	height: 20vh;
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid grey;
	border-radius: 20px;
	background-color: rgb(176, 239, 117);
	transition: all 1s ease-in-out;
}

.box:hover {
	transform: rotate(90deg);
	transform: skew(45deg);
	transform: scale(2);
	transform: translateX(200px);
	transform: translateY(200px);
	transform: translate(200px, 250px);
	transform: rotateX(180deg);
	transform: rotateY(180deg);
	transform: rotateZ(360deg);

	/* to apply many transforms on same elements */
	transform: scale(2) rotate(90deg) skew(30deg) translate(130px, 10px);
}
